@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:wdth,wght@1,75..100,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav__container {
  width: 100%;
  display: flex;
  padding: 0 24px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 160px;
}

.purple {
  color: #7342d6;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  padding: 2px 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu-open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-width: 100vw;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: #fff;
  font-size: 32px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #fff;
}

/*

LANDING

*/

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  min-height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

h3 {
  margin-bottom: 90px;
}

.btn {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}
.btn {
  display: block;
  margin: 0 auto;
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__img--wrapper {
  padding: 0;
  z-index: 2;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/*

HIGHLIGHTS

*/

#highlights {
  position: relative;
  background-color: white;
  max-width: 100vw;
}

#highlights::after,
#highlights::before {
  background: url(./wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 101vw;
  height: 18vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#highlights::before {
  background: url(./wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 101vw;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transform: translateY(-100%);
  top: 1px;
}

#highlights::after {
  background: url(./wave.svg);
  content: "";
  position: absolute;
  left: 0;
  width: 101vw;
  height: 18vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  bottom: 0;
  transform: translateY(99%) rotate(180deg);
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight__img {
  margin-bottom: 24px;
  border: 2px solid #7342d65d;
  width: 100px;
  color: #7342d6;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.highlight__para {
  text-align: center;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

/* 

FEATURES 

*/

#features {
  padding-top: 14vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}

.book {
  width: 25%;
  padding: 24px;
}
.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/*  

EXPLORE 

*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

/*  

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
  margin-bottom: 24px;
}

.footer__link,
.footer__copyright {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer__list {
  margin: 24px 24px 0;
  padding: 16px;
}

.footer__link {
  padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;

  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
    padding: 12px;
  }
}

/*SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .highlight {
    width: 100%;
    margin-bottom: 24px;
  }

  #highlights .container {
    padding-bottom: 4px;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}
